*
{
    font-family: serif;
}

body {
    background: #252525;
}


a,
a.imageLink,
a:visited.imageLink,
a:hover.imageLink,
a:active.imageLink,
a.linkPageLink,
a:visited.linkPageLink,
a:hover.linkPageLink,
a:active.linkPageLink,
a:visited {
    color: #0000aa;
    text-decoration: none;
}

.navigation {
    display: inline;
    float: right;
    width: 12em;
    margin: 1em;
    background: #b0b0b0;
    text-align: left;
}

.navigation a,
.navigation a:visited {
    color: black;
    font: Monospace;
    font-weight: bold;
    text-decoration: underline;
}

a:hover,
a:active,
.navigation a:hover,
.navigation a:active {
    color: #00aa00;
}

.navItem
{
    display: block;
    margin: 1em;
}

.pageBody {
    display: block;
    margin-left: 11em;
    margin-top: 2em;
    width: calc(75%-22em);
    margin-right: 22em;
}

.pageEntry {
    background: #e0e0e0;
    display: block;
    margin: 1%;
    text-align: left;
    padding: 2.5em;
    padding-top: 1.0em;
}

.section_header {
    font-family: monospace;
    font-weight: bold;
    font-size: 14pt;
    width: 100%;
}

.title {
    font-family: inherit;
    font-weight: inherit;
    align: left;
}

.date {
    font-family: inherit;
    font-weight: inherit;
    float: right;
}

.screenshotThumb {
    float: right;
    margin: 1em;
    margin-top: -3em;
}

